@font-face {
    font-family:'Moderat';
    src: url('Moderat Regular.woff2') format('woff2'),
		url('Moderat Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

/* light! */
@font-face {  
    font-family:'Moderat'; 
    src:url('Moderat Light.woff2') format('woff2'),
		url('Moderat Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}