.container__filters {
    padding: 0 5%;
    width: 60rem;
}

.container__category {
    margin-bottom: 2rem;
    display: flex;
}

.container__category p a {
    color: black;
    font-size: 1.1rem;
}

.container__category p {
    width: 7rem;
}

.filter-category {
    display: flex;
    max-width: 100%;
    width: 100%;
}

.filter-category ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.category__list-items {
    list-style: none;
    font-size: 1.1rem;
    padding-right: 1rem;
} 

.container__year {
    display: flex;
    margin-bottom: 2rem;
}

.container__year p {
    width: 7rem;
}

.container__year p a {
    color: black;
    font-size: 0.9rem;
}

.filter-year{
    max-width: 100%;
    width: 100%;
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}

.year__list-items {
    list-style: none;
}

.year__list-items a {
    text-decoration: none;
    font-size: 0.9rem;
    padding-right: 1rem;
    color: black;
}

.filter-view {
    margin-top: 0.5rem;
    max-width: 100%;
    width: 100%;
}

.filter-view ul {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.filter-view ul li {
    list-style: none;
    font-size: 0.9rem;
    padding-right: 1rem;
}

.filter-view ul li:hover,
.filter-year ul li:hover,
.filter-category ul li:hover {
    color: #003cff;
    cursor: pointer;
}

.filter-view {
    text-align: right;
}

.art-big {
 margin-top: 5rem;
 padding: 0 5%;
}

.art__list {
    text-decoration: none;
}

.art__list li a {
    display: flex;
}

.container__art__list li a {
    color: black;
    text-decoration: none;
}

.art__photo {
    width: 7rem;
    margin: 2rem;
}

.photo__container {
    display: flex;
    overflow-x: auto;
    width: 60%;
    margin-left: 5rem;
}

.titles {
    width: 30%;
    text-align: right;
}